.calendar{
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 8px 15px #333;
  background-color: #fff;
  margin: 0 auto;
  table{
    width: 100%;
  }
  td {
    padding: 3px 10px 3px 5px;
    font-size: 14px;
    text-align: left;
  }
}
.pop{
  position: absolute;
  z-index: 999;
  width: 260px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
}
