<div class="work-time" *ngIf="data.label" (click)="show()">
  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 0.0102539C2.243 0.0102539 0 2.25325 0 5.01025C0 7.76725 2.243 9.99009 5 9.99009C7.757 9.99009 10 7.76725 10 5.01025C10 2.25325 7.757 0.0102539 5 0.0102539ZM5.33333 5.15659C5.33333 5.34059 5.184 5.48992 5 5.48992H2.33333C2.14933 5.48992 2 5.34059 2 5.15659C2 4.97259 2.14933 4.82325 2.33333 4.82325H4.66667V1.15659C4.66667 0.972587 4.816 0.823254 5 0.823254C5.184 0.823254 5.33333 0.972587 5.33333 1.15659V5.15659Z" fill="#09C2C2"/>
  </svg>
  {{data.label}}
</div>

<ng-container *ngIf="detail">
  <div appPopup class="pop" (onClose)="show()">
    <div class="calendar">
      <table>
        <tr *ngFor="let i of [1,2,3,4,5,6,7]">
          <td>{{'timeRange'+i | trans:language}}</td>
          <td>
            <ng-container *ngIf="data['timeRange'+i].isAllTime">
              <span class="all-time">{{'isAllTime' | trans:language}}</span>
            </ng-container>
            <ng-container *ngIf="data['timeRange'+i].isTimeRange">
              <span class="range">
                {{data['timeRange'+i].timeStart}} - {{data['timeRange'+i].timeEnd}}
              </span>
            </ng-container>
            <ng-container *ngIf="data['timeRange'+i].isWeekend">
              <span class="weekend">{{'isWeekend' | trans:language}}</span>
            </ng-container>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>
