<ng-container *ngIf="!loading">
	<app-loading></app-loading>
</ng-container>
<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Создать категорию
			</div>
		</div>
		<form class="add-section" (submit)="create($event)">
			<ng-container *ngIf="mainCategoryChoose; else emptyGlobal">
				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Категория" name="name" [(ngModel)]="category.name" autocomplete="off">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Главная категория</mat-label>
					<mat-select [(value)]="mainCategoryChoose">
						<mat-option *ngFor="let item of mainCategory" [value]="item._id">
							{{item.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="group-buttons">
					<div class="left">
					</div>
					<div class="right">
						<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
						<button class="main-button-color" type="submit">Сохранить</button>
					</div>
				</div>
			</ng-container>
		</form>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать категорию
			</div>
		</div>
		<form (submit)="confirmEditCategoryCrud($event)" (keyup)="formCheck()" class="edit-section" *ngIf="editShow">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Категория" name="name" [(ngModel)]="editObj.name" autocomplete="off">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Главная категория</mat-label>
				<mat-select [(value)]="mainCategoryChoose" (selectionChange)="selectValid()">
					<mat-option *ngFor="let item of mainCategory" [value]="item._id">
						{{item.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" type="submit"  *ngIf="isBlok">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все категории
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать категорию</span>
			</button>
		</div>
		<ng-container *ngIf="loading">
			<div class="main-section">
				<app-search-filter [inputApi]="'category'" [inputQuery]="'name'" [queryValue]="'companyOwner'" [querySearch]="user.companyOwner._id" (output)="outputSearch($event)"></app-search-filter>
				<div class="table-content" *ngIf="categorys && categorys.length > 0">
					<div class="content" *ngIf="loading">
						<table *ngIf="categorys && categorys.length > 0" class="table">
							<tr>
								<td style="min-width: 200px">Назва</td>
								<td style="min-width: 200px"></td>
								<td style="min-width: 180px">Дата</td>
								<td style="min-width: 200px"></td>
							</tr>
							<tr *ngFor="let item of categorys; let i = index">
								<td>
									{{item.name}}
								</td>
								<td>
								</td>
								<td>
									<div class="date">
										<div class="top-table-date">
											{{item.date | date: 'dd MMMM, yyyy' : null : defLang}}
										</div>
										<div class="bottom-table-date">
											{{item.date | date: 'HH:mm' : null : defLang}}
										</div>
									</div>
								</td>
								<td>
									<div class="buttons-edit">
										<span class="edit-btn" (click)="edit(i)" appScrollTop></span>
										<span class="trash-btn" (click)="delete(i)"></span>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				<mat-paginator [length]="lengthPagination"
				               [pageSize]="pageSizePagination"
				               [pageSizeOptions]="pageSizeOptionsPagination"
				               (page)="pageEvent($event)"
				               *ngIf="categorys && categorys.length > 0">
				</mat-paginator>
				<div class="empty-section" *ngIf="!categorys || categorys.length === 0">
					<p>
						У вас нет созданых категорий
					</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>

<ng-template #emptyGlobal>
	На сервисе нет глобальных категорий. Вы не можете создать категорию. Свяжитесь с администратором сервиса.
</ng-template>
