<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Создать категорию
			</div>
		</div>
		<form class="add-section" (submit)="create($event)">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Категория" name="name" [(ngModel)]="category.name" autocomplete="off">
			</mat-form-field>
			<select [(ngModel)]="mainCategoryChoose" name="choose">
				<option *ngFor="let item of mainCategory" [value]="item._id">{{item.name}}</option>
			</select>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
					<button class="main-button-color" type="submit">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать категорию
			</div>
		</div>
		<form (submit)="confirmEditCategoryCrud($event)" (keyup)="formCheck()" class="edit-section" *ngIf="editShow">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Категория" name="name" [(ngModel)]="editObj.name" autocomplete="off">
			</mat-form-field>
			<select [(ngModel)]="mainCategoryChoose" name="choose" (change)="selectValid()">
				<option *ngFor="let item of mainCategory" [value]="item._id">{{item.name}}</option>
			</select>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" type="submit"  *ngIf="isBlok">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все категории
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать категорию</span>
			</button>
		</div>
		<ng-container *ngIf="!loading" class="loading">
			loading
		</ng-container>
		<ng-container *ngIf="loading">
			<div class="main-section">
				<div class="table" *ngIf="categorys || categorys.length > 0">
					<div class="table-content">
						<div class="row-h">
							<div class="col">
								Name
							</div>
							<div class="col">
							</div>
							<div class="col">
								Date
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row-r" *ngFor="let item of categorys; let index = index">
							<div class="col">
								{{item.name}}
							</div>
							<div class="col">
							</div>
							<div class="col">
								<div class="date">
									<div class="top-table-date">
										{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
									</div>
									<div class="bottom-table-date">
										{{item.date | date: 'h:mm a'  : null : defLang}}
									</div>
								</div>
							</div>
							<div class="col">
								<span class="edit-btn" (click)="edit(index)"></span>
								<span class="trash-btn" (click)="delete(index)"></span>
							</div>
						</div>
					</div>
					<mat-paginator [length]="lengthPagination"
					               [pageSize]="pageSizePagination"
					               [pageSizeOptions]="pageSizeOptionsPagination"
					               (page)="pageEvent($event)"
					               *ngIf="categorys && categorys.length > 0">
					</mat-paginator>
				</div>
				<div class="empty-section" *ngIf="!categorys || categorys.length === 0">
					<p>
						У вас нет созданых категорий
					</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>
