<div class="add-section">
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Название продукта" [(ngModel)]="product.name" name="name" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Опис продукта" [(ngModel)]="product.des" name="des" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput type="number" placeholder="Ціна" [(ngModel)]="product.price" name="price" autocomplete="off">
	</mat-form-field>
	<div *ngIf="categorys.length > 0">
		<mat-form-field style="margin-right: 25px">
			<mat-label>Категория</mat-label>
			<mat-select [(value)]="mainCategoryChoose" (selectionChange)="selectSubCategory(mainCategoryChoose)">
				<mat-option *ngFor="let item of categorys" [value]="item._id">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field *ngIf="subCategoryArray && subCategoryArray.length > 0">
			<mat-label>Подкатегория</mat-label>
			<mat-select [(value)]="subCategoryChoose">
				<mat-option [value]="null">-</mat-option>
				<mat-option *ngFor="let item of subCategoryArray" [value]="item">
					{{item}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div  *ngIf="brands && brands.length > 0">
		<mat-form-field>
			<mat-label>Бренд</mat-label>
			<mat-select [(value)]="mainChooseBrand">
				<mat-option *ngFor="let item of brands" [value]="item._id">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="group-buttons">
		<div class="left">
			<app-img *ngIf="product && product.img" [dir]="'product'" [fs]="product.img"></app-img>
            <app-upload (onCrop)="onFs($event)" *ngIf="product && !product.img" [cropper]="true" [dir]="'product'"></app-upload>
			<div class="mat-chip-file" *ngIf="product && product.img">
				<div class="content">{{product.img}}</div>
				<div class="remove-mat-chip" (click)="removeImg()"></div>
			</div>
		</div>
		<div class="right">
			<button class="main-button" (click)="cancelAddBtn()">Отмена</button>
			<button class="main-button-color" (click)="create()">Сохранить</button>
		</div>
	</div>
</div>
