<div class="add-section">
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Название продукта" [(ngModel)]="product.name" name="name" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Опис продукта" [(ngModel)]="product.des" name="des" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Ціна" [(ngModel)]="product.price" name="price" autocomplete="off">
	</mat-form-field>
	<div *ngIf="categorys.length > 0">
		<mat-form-field>
			<mat-label>Category</mat-label>
			<mat-select [(value)]="mainCategoryChoose">
				<mat-option *ngFor="let item of categorys" [value]="item._id">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div  *ngIf="brands && brands.length > 0">
		<mat-form-field>
			<mat-label>Brands</mat-label>
			<mat-select [(value)]="mainChooseBrand">
				<mat-option *ngFor="let item of brands" [value]="item._id">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="group-buttons">
		<div class="left">
			<!--<app-upload (onFs)="onFs($event)" *ngIf="product && product.img === ''"></app-upload>-->
      <app-img [dir]="'product'" [fs]="product.img" *ngIf="product && product.img"></app-img>
      <app-upload (onCrop)="onFs($event)" *ngIf="product && product.img === ''" [cropper]="true" [dir]="'product'"></app-upload>
			<div class="mat-chip-file" *ngIf="product && product.img !== ''">
				<div class="content">{{product.img}}</div>
				<div class="remove-mat-chip" (click)="product.img = ''"></div>
			</div>
		</div>
		<div class="right">
			<button class="main-button" (click)="cancelAddBtn()">Отмена</button>
			<button class="main-button-color" (click)="create()">Сохранить</button>
		</div>
	</div>
</div>
