<div class="contain__group">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Поставщик
			</div>
		</div>
		<form (submit)="create($event)" class="add-section" *ngIf="city && city.length>0">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Name" name="name"  [(ngModel)]="client.name" autocomplete="off">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Phone" name="login" [(ngModel)]="client.login" autocomplete="off">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Password" name="pass" [(ngModel)]="client.pass" autocomplete="off">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Name company" name="name-company" [(ngModel)]="company.name" autocomplete="off">
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Address company" name="name-address" [(ngModel)]="company.address" autocomplete="off">
			</mat-form-field>
			<mat-form-field *ngIf="city && city.length>0">
				<mat-label>Город</mat-label>
				<mat-select [(value)]="company.city">
					<mat-option *ngFor="let item of city" [value]="item._id">
						{{item.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
					<button class="main-button-color" type="submit">Сохранить</button>
				</div>
			</div>
		</form>
		<ng-container *ngIf="city && city.length===0">
			У вас нет городов, вы не можете создать поставщика
		</ng-container>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все поставщики
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать поставщика</span>
			</button>
		</div>
		<ng-container class="loading" *ngIf="!loading">
			Загрузка...
		</ng-container>
		<ng-container *ngIf="loading">
			<div class="main-section">
				<div class="table">
					<app-search-filter [inputApi]="'company'" [inputQuery]="'name'" (output)="outputSearch($event)"></app-search-filter>
					<div class="table-content">
						<div class="row-h">
							<div class="col">
								Назва
							</div>
							<div class="col">
								Статус
							</div>
							<div class="col">
								Дата
							</div>
							<div class="col">
							</div>
						</div>
            <ng-container  *ngFor="let item of list; let index = index" >
						<div class="row-r"  *ngIf="item">
							<div class="col" [routerLink]="'/provider-detail/'+item._id">
								<div class="img">
									<img src="./assets/images/user.svg" alt="" *ngIf="item.img == ''">
									<app-img [fs]="item.img" *ngIf="item.img && item.img !== ''"></app-img>
								</div>
								{{item.name}}
							</div>
							<div class="col">
								<ng-container *ngIf="item && item.verify">
									Активен
								</ng-container>
								<ng-container *ngIf="item && !item.verify">
									Не активен
								</ng-container>
							</div>
							<div class="col">
								<div class="date">
									<div class="top-table-date">
										{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
									</div>
									<div class="bottom-table-date">
										{{item.date | date: 'h:mm a'  : null : defLang}}
									</div>
								</div>
							</div>
							<div class="col">
								<button class="main-button-color red" (click)="verifyCompany($event, false, item._id, index)" *ngIf="item && item.verify">Выключить</button>
								<button class="main-button-color" (click)="verifyCompany($event, true, item._id, index)" *ngIf="item && !item.verify">Включить</button>
							</div>
						</div>
            </ng-container>
					</div>
					<mat-paginator [length]="lengthPagination"
					               [pageSize]="pageSizePagination"
					               [pageSizeOptions]="pageSizeOptionsPagination"
					               (page)="pageEvent($event)"
					               *ngIf="list && list.length > 0">
					</mat-paginator>
				</div>
				<div class="no-content" *ngIf="list && list.length === 0">
					У вас нет поставщиков
				</div>
			</div>
		</ng-container>
	</div>
</div>
