.paginator-table{
  display: none;
}

.paginator-table-active{
  display: block;
}
table{
  width:  100%;
}

.example-full-width{
  width:  100%;
}
.main-button-color{
  &.red{
    color: #E21B1B;
    background: #fff;
    border: 1px solid #E21B1B;
  }
}
