<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Создать должника
			</div>
		</div>
		<div class="add-section">
			<mat-form-field class="example-full-width">
				<input type="text" placeholder="Tel" aria-label="Number" name="inputSearch" matInput [(ngModel)]="inputChange" [matAutocomplete]="auto" (keyup)="change()">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let item of searchDebtors" [value]="item.login" (click)="inputChange=item.login">
						<div class="option">
							<div class="img">
								<app-img [fs]="item.img" *ngIf="item.img !== ''; else usersvg"></app-img>
								<ng-template #usersvg>
									<img src="./assets/images/user.svg" alt="user-svg">
								</ng-template>
							</div>
							{{item.login}}
						</div>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Сумма долга" aria-label="Number" name="value" [(ngModel)]="debtor.value">
			</mat-form-field>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" placeholder="Choose a date" [min]="minDate" [(ngModel)]="debtor.dataCall" (focus)="picker.open()">
				<mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
				<mat-datepicker touchUi #picker></mat-datepicker>
			</mat-form-field>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" (click)="cancelAdd()">Отмена</button>
					<button class="main-button-color" (click)="create()">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать должника
			</div>
		</div>
		<form class="edit-section" (submit)="confirmEditCategoryCrud($event)" (keyup)="formCheck()" *ngIf="editShow">
			<mat-form-field class="example-full-width">
				<input type="text" placeholder="Сумма долга" aria-label="Number" name="value" matInput [(ngModel)]="editObj.value">
			</mat-form-field>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" name="date" placeholder="Choose a date" [min]="minDate" [(ngModel)]="editObj.dataCall" (ngModelChange)="formCheck()" (focus)="picker.open()">
				<mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
				<mat-datepicker touchUi #picker></mat-datepicker>
			</mat-form-field>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" type="submit" *ngIf="isBlok">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все должники
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать должника</span>
			</button>
		</div>
		<ng-container class="loading" *ngIf="!loading">
			loading...
		</ng-container>
		<ng-container *ngIf="loading">
			<div class="main-section">
				<div class="table">
					<div class="table-content">
						<div *ngFor="let item of debtors; let index = index" style="display: flex;align-items: center">
							{{item.clientOwner.login}}
							<span class="edit-btn" (click)="edit(index)"></span>
							<span class="trash-btn" (click)="delete(index)"></span>
						</div>
					</div>
					
					<mat-paginator [length]="lengthPagination"
					               [pageSize]="pageSizePagination"
					               [pageSizeOptions]="pageSizeOptionsPagination"
					               (page)="pageEvent($event)"
									*ngIf="debtors && debtors.length > 0">
					</mat-paginator>
				</div>
				<div class="empty-section" *ngIf="!debtors || debtors.length === 0">
					<p>
						У вас нет должников
					</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>
