<form (keyup)="formCheck()" (submit)="confirmEditCategoryCrud($event)" class="edit-section">
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Название продукта" name="name" [(ngModel)]="editObj.name" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Описание продукта" name="des" [(ngModel)]="editObj.des" autocomplete="off">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput type="text" placeholder="Цена" name="price" [(ngModel)]="editObj.price" autocomplete="off">
	</mat-form-field>
	<div *ngIf="categorys.length > 0">
		<mat-form-field>
			<mat-label>Category</mat-label>
			<mat-select [(value)]="mainCategoryChoose" (selectionChange)="changeSelectCategory(mainCategoryChoose)">
				<mat-option *ngFor="let item of categorys" [value]="item._id">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div  *ngIf="brands && brands.length > 0">
		<mat-form-field>
			<mat-label>Brands</mat-label>
			<mat-select [(value)]="mainChooseBrand" (selectionChange)="changeSelectBrand(mainChooseBrand)">
				<mat-option *ngFor="let item of brands" [value]="item._id">
					{{item.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="check">
		<mat-checkbox [(ngModel)]="showSale" (change)="formCheck()" name="saleChack">Включить скидку</mat-checkbox>
	</div>
	<mat-form-field class="example-full-width" *ngIf="showSale">
		<input matInput type="text" placeholder="Цена со скидкой" name="priceSale" [(ngModel)]="editObj.discount" autocomplete="off">
	</mat-form-field>
	<div class="group-buttons">
		<div class="left">
			<app-upload (onFs)="onFsEdit($event)" *ngIf="editObj && editObj.img === ''"></app-upload>
			<div class="mat-chip-file" *ngIf="editObj && editObj.img !== ''">
				<div class="content">{{editObj.img}}</div>
				<div class="remove-mat-chip" (click)="editObj.img = ''; formCheck()"></div>
			</div>
		</div>
		<div class="right">
			<button class="main-button" type="reset" (click)="cancelEdit.emit(false)">Отмена</button>
			<button class="main-button-color" type="submit"  *ngIf="isBlok">Сохранить</button>
		</div>
	</div>
</form>
