<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.min.css">
<button (click)="rotete()">rotate</button>
<button (click)="getCropBoxData()">getCropBoxData</button> <br>
<button (click)="getCanvasData()">getCanvasData</button> <br>
<button (click)="getImageData()">getImageData</button> <br>
<button (click)="getData()">getData</button> <br>

<div class="img-container">
  <img #image [src]="imageSource">
</div>
<img [src]="imageDestination" class="img-preview">
