<div class="other-header">
  <app-back-btn></app-back-btn>
  <h2>Уведомления</h2>
  <app-basket-item></app-basket-item>
</div>

<div class="other-pages">
  <div class="popular-section">
    <div class="popular-section-button fixed">
      <button [class.active]="toggleMain" (click)="toggleMain = true">
        Акции
      </button>
      <button [class.active]="!toggleMain" (click)="toggleMain = false">
        Оценить сервис
      </button>
    </div>
    <div class="popular-section-box" *ngIf="toggleMain">
        <ng-container *ngIf="loading">
            <cdk-virtual-scroll-viewport itemSize="300" class="viewport" appScrollUpdateAction (output)="getOutput($event)" *ngIf="action && action.length > 0">
                <app-action-item  *cdkVirtualFor="let item of action" [obj]="item"></app-action-item>
            </cdk-virtual-scroll-viewport>
            <div class="empty" *ngIf="action && action.length === 0">
                У вас нет персональных акций
            </div>
        </ng-container>
    </div>
    <div class="popular-section-box" *ngIf="!toggleMain">
<!--      <app-rating-service-item (click)="showRaiting = true"></app-rating-service-item>-->
<!--      <app-rating-service-item  (click)="showRaiting = true"></app-rating-service-item>-->
<!--      <app-rating-service-item  (click)="showRaiting = true"></app-rating-service-item>-->
<!--      <app-rating-service-item  (click)="showRaiting = true"></app-rating-service-item>-->
      <div class="history-raiting">
        <h3>История отзывов</h3>
        <mat-accordion>
<!--          <app-rating-service-history-item></app-rating-service-history-item>-->
<!--          <app-rating-service-history-item></app-rating-service-history-item>-->
<!--          <app-rating-service-history-item></app-rating-service-history-item>-->
<!--          <app-rating-service-history-item></app-rating-service-history-item>-->
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
<app-raiting *ngIf="showRaiting" (closeRaiting)="closeRaiting($event)"></app-raiting>
