<div class="cart-wrap" *ngIf="data && language">
  <a routerLink="/{{language}}/provider/{{data._id}}" class="popular-item">
    <div class="sale">
      <div class="top" *ngIf="isTop"></div>
      <!--    <div class="sale"></div>-->
    </div>
    <div class="img">
      <app-img [dir]="'avatar'" [fs]="data.img" [anyFs]="'assets/images/provider.svg'"></app-img>
    </div>
    <div class="block-info">
      <div class="block-title">
        {{data.name}}
      </div>
      <div class="block-second">
        <ng-container *ngIf="data.action">
            <div class="action">
              {{data.actionCount}}
              <span *ngIf="data.actionCount === 1">
                {{translate.t3[language]}}
              </span>
              <span *ngIf="data.actionCount >1 && data.actionCount<=4 || data.actionCount === 0">
                {{translate.t1[language]}}
              </span>
              <span *ngIf="data.actionCount>4">
                {{translate.t2[language]}}
              </span>
<!--              {{data.actionCount < 4 ?  translate.t1[language] : translate.t2[language]}}-->
            </div>
        </ng-container>
      </div>
      <div class="block-raiting">
        <div class="raiting">
          <mat-star-rating class="mat-rating"  [starCount]="5" [rating]="data.rating ? data.rating : 0"></mat-star-rating>
        </div>
      </div>
    </div>
  </a>
  <app-work-time class="work-time" [data]="data.workTime" *ngIf="data.workTime"></app-work-time>
</div>

