<div class="cart-wrap" *ngIf="data && language">
  <a routerLink="/{{language}}/provider/{{data._id}}" class="popular-item">
    <div class="sale">
      <div class="top" *ngIf="isTop"></div>
      <!--    <div class="sale"></div>-->
    </div>
    <div class="img">
      <app-img [fs]="data.img"></app-img>
    </div>
    <div class="block-info">
      <div class="block-title">
        {{data.name}}
      </div>
      <div class="block-second">
        <ng-container *ngIf="data.action">
          <ng-container *ngIf="data.action.length>0">
            <div class="action">
              {{data.action.length}} акций
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="block-raiting">
        <div class="raiting">
          <mat-star-rating class="mat-rating"  [starCount]="5" [rating]="data.rating"></mat-star-rating>
        </div>

      </div>
    </div>
  </a>
  <app-work-time class="work-time" [data]="data.workTime" *ngIf="data.workTime"></app-work-time>
</div>

