<ng-container>
	<div class="create-client">
		<div class="contain" *ngIf="showCollaborator">
			<div class="contain__group">
				<div class="contain__group-header">
					Сотрудник
				</div>
			</div>
			
			<div class="client-form" >
				<div class="form">
					<input type="text" placeholder="Name" [(ngModel)]="client.name" autocomplete="off">
					<input type="text" placeholder="Phone" [(ngModel)]="client.login" autocomplete="off">
					<input type="text" placeholder="Password" [(ngModel)]="client.pass" autocomplete="off">
					<button class="main-button-color" (click)="create()">Создать</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать cотрудника
			</div>
		</div>
		<div class="edit-section" *ngIf="editShow">
			<label>
				<input type="text" placeholder="Name" [(ngModel)]="editObj.name">
			</label>
			<label>
				<input type="text" placeholder="Phone" [(ngModel)]="editObj.login">
			</label>
			<label>
				<input type="text" placeholder="Password" [(ngModel)]="editObj.pass">
			</label>
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" (click)="confirmEditCategoryCrud()">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все сотрудники
			</div>
			<button class="button-add" (click)="createCollaborator()">
				<span class="content">Создать сотрудника</span>
			</button>
		</div>
		<div class="main-section">
			<div class="mat-elevation-z8">
				<mat-form-field class="filter" *ngIf="showPagin">
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
				<table mat-table [dataSource]="dataSource" *ngIf="clients && clients.length > 0">
					<!-- Position Column -->
					<ng-container matColumnDef="Номер">
						<th mat-header-cell *matHeaderCellDef>#</th>
						<td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
					</ng-container>
					
					<!-- Name Column -->
					<ng-container matColumnDef="Назва бренда">
						<th mat-header-cell *matHeaderCellDef>Тел</th>
						<td class="table__name" mat-cell *matCellDef="let element">
							<div class="table__name-name">
								<a [routerLink]="'/user-detail/'+ element._id">
									{{element.login}}
								</a>
							</div>
						</td>
					</ng-container>
					
					<!-- Weight Column -->
					<ng-container matColumnDef="data">
						<th mat-header-cell *matHeaderCellDef>Дата</th>
						<td mat-cell *matCellDef="let element">
							<div class="top-table-date">
								{{element.date | date: 'dd MMMM, yyyy'  : null : defLang}}
							</div>
							<div class="bottom-table-date">
								{{element.date | date: 'h:mm a'  : null : defLang}}
							</div>
						</td>
					</ng-container>
					
					<ng-container matColumnDef="delete">
						<th mat-header-cell *matHeaderCellDef></th>
						<td class="right-section-table" mat-cell *matCellDef="let element; let index = index">
							<span class="edit-btn" (click)="edit(index)"></span>
							<span class="trash-btn" (click)="delete(index)"></span>
						</td>
					</ng-container>
					
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				
				<mat-paginator class="paginator-table" [pageSizeOptions]="[5, 10, 20]" [class.paginator-table-active]="showPagin"></mat-paginator>
			</div>
			<div class="empty-section" *ngIf="!clients || clients.length === 0">
				<p>
					У вас нет сотрудников
				</p>
			</div>
		</div>
	</div>

</ng-container>
