<ng-container>
	<div class="contain">
		<div class="contain__group">
			<div class="contain__group-header">
				Создать сотрудника
			</div>
		</div>
	</div>
	<div class="create-client">
		<div class="buttons">
			<button class="main-button-color" (click)="createCollaborator()">Создать сотрудника</button>
		</div>
		
		<div class="contain" *ngIf="showCollaborator">
			<div class="contain__group">
				<div class="contain__group-header">
					Сотрудник
				</div>
			</div>
			
			<div class="client-form" >
				<div class="form">
					<input type="text" placeholder="Name" [(ngModel)]="client.name" autocomplete="off">
					<input type="text" placeholder="Phone" [(ngModel)]="client.login" autocomplete="off">
					<input type="text" placeholder="Password" [(ngModel)]="client.pass" autocomplete="off">
					<button class="main-button-color" (click)="create('collaborator')">Создать</button>
				</div>
			</div>
		</div>
	</div>
</ng-container>
