<ng-container>
	<div class="create-client">
		<div class="contain" *ngIf="showCollaborator">
			<div class="contain__group">
				<div class="contain__group-header">
					Создать сотрудника
				</div>
			</div>
			<div class="client-form" >
				<form (submit)="create($event)" class="form">
					<mat-form-field class="example-full-width">
						<input matInput type="text" placeholder="Name" [(ngModel)]="client.name" name="name" autocomplete="off">
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<input matInput type="text" placeholder="Phone" [(ngModel)]="client.login" name="name" autocomplete="off">
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<input matInput type="text" placeholder="Password" [(ngModel)]="client.pass" name="name" autocomplete="off">
					</mat-form-field>
					
					<div class="group-buttons">
						<div class="left">
						</div>
						<div class="right">
							<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
							<button class="main-button-color" type="submit">Сохранить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать cотрудника
			</div>
		</div>
		<form (submit)="confirmEditCategoryCrud($event)" (keyup)="formCheck()" class="edit-section" *ngIf="editShow">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Name" [(ngModel)]="editObj.name" name="name" autocomplete="off">
			</mat-form-field>
			
			<div class="group-buttons">
				<div class="left">
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" type="submit" *ngIf="isBlok">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все сотрудники
			</div>
			<button class="button-add" (click)="createCollaborator()">
				<span class="content">Создать сотрудника</span>
			</button>
		</div>
		<div class="main-section">
			<ng-container class="loading" *ngIf="!loading">
				loading...
			</ng-container>
			<ng-container *ngIf="loading">
				<div class="table" *ngIf="clients && clients.length > 0">
					<div class="table-content">
						<div class="row-h">
							<div class="col">
								Name
							</div>
							<div class="col">
							</div>
							<div class="col">
								Date
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row-r" *ngFor="let item of clients; let index = index">
							<div class="col">
								{{item.login}}
							</div>
							<div class="col"></div>
							<div class="col">
								<div class="date">
									<div class="top-table-date">
										{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
									</div>
									<div class="bottom-table-date">
										{{item.date | date: 'h:mm a'  : null : defLang}}
									</div>
								</div>
							</div>
							<div class="col">
								<span class="edit-btn" (click)="edit(index)"></span>
								<span class="trash-btn" (click)="delete(index)"></span>
							</div>
						</div>
					</div>
					
					<mat-paginator [length]="lengthPagination"
					               [pageSize]="pageSizePagination"
					               [pageSizeOptions]="pageSizeOptionsPagination"
					               (page)="pageEvent($event)"
					               *ngIf="clients && clients.length > 0">
					</mat-paginator>
				</div>
				
				<div class="empty-section" *ngIf="!clients || clients.length === 0">
					<p>
						У вас нет сотрудников
					</p>
				</div>
			</ng-container>
		</div>
	</div>

</ng-container>
