<div class="contain" *ngIf="basket">
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Заказ №
			</div>
			<div class="status-info">
				<div class="name">
				имя исполнителя
				</div>
				<div class="status">
					Новий заказ
				</div>
			</div>
		</div>
		
		<div class="add-section">
			<div class="main-info">
				<div class="info-item info-date">
					<div class="title">
						Дата создания:
					</div>
					<div class="content">
						{{basket.date | date: 'dd MMMM, yyyy'  : null : defLang}}
						-
						{{basket.date | date: 'hh:mm'  : null : defLang}}
					</div>
				</div>
				<div class="info-item info-name">
					<div class="title">
						Имя:
					</div>
					<div class="content">
						{{basket.createdBy.name}}
					</div>
				</div>
				<div class="info-item info-address">
					<div class="title">
						Адресс доставки:
					</div>
					<div class="content">
						{{basket.createdBy.address}}
					</div>
				</div>
			</div>
			<div class="product-box">
				<div class="product-item">
					<div class="name h">
						Продукт
					</div>
					<div class="count h">
						Количество
					</div>
					<div class="price h">
						Цена
					</div>
				</div>
				<div class="product-item" *ngFor="let item of basket.products">
					<div class="name">
						{{item.orderOwner.name}}
					</div>
					<div class="count">
						{{item.count}} шт.
					</div>
					<div class="price">
						{{item.price}} Грн.
					</div>
				</div>
			</div>
			
			<div class="group-buttons">
				<div class="left">
					Всего
					<div class="total-price">
						{{basket.totalPrice}}
					</div>
					Грн.
				</div>
				<div class="right">
					<button class="main-button" type="reset" [routerLink]="'/orders'">Назад</button>
					<button class="main-button-color" type="submit">Взять заказ</button>
				</div>
			</div>
		</div>
	</div>
</div>
