<div class="contain">
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Заказ №
			</div>
			<div class="status-info">
				<div class="name">
				имя исполнителя
				</div>
				<div class="status">
					Новий заказ
				</div>
			</div>
		</div>
		
		<div class="add-section">
			<div class="main-info">
				<div class="info-item info-date">
					<div class="title">
						Дата создания:
					</div>
					<div class="content">
						26 Mая, 2019, 6 : 30 PM
					</div>
				</div>
				<div class="info-item info-name">
					<div class="title">
						Имя:
					</div>
					<div class="content">
						Имя заказчика
					</div>
				</div>
				<div class="info-item info-address">
					<div class="title">
						Адресс доставки
					</div>
					<div class="content">
						какойто адресс
					</div>
				</div>
			</div>
			<div class="product-box">
				<div class="product-item">
					<div class="name h">
						Продукт
					</div>
					<div class="count h">
						Количество
					</div>
					<div class="price h">
						Цена
					</div>
				</div>
				<div class="product-item">
					<div class="name">
						Название продукта
					</div>
					<div class="count">
						3 шт.
					</div>
					<div class="price">
						320 Грн.
					</div>
				</div>
				<div class="product-item">
					<div class="name">
						Название продукта
					</div>
					<div class="count">
						3 шт.
					</div>
					<div class="price">
						320 Грн.
					</div>
				</div>
				<div class="product-item">
					<div class="name">
						Название продукта
					</div>
					<div class="count">
						3 шт.
					</div>
					<div class="price">
						320 Грн.
					</div>
				</div>
			</div>
			
			<div class="group-buttons">
				<div class="left">
					Всего
					<div class="total-price">
						4999 Грн.
					</div>
				</div>
				<div class="right">
					<button class="main-button" type="reset">Назад</button>
					<button class="main-button-color" type="submit">Взять заказ</button>
				</div>
			</div>
		</div>
	</div>
</div>
