<div class="contain" *ngIf="basket">
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Заказ №
<!--				{{basket.number}}-->
			</div>
			<div class="status-info">
				<div class="name">
				{{basket.manager.name}}
				</div>
				<div class="status" [innerHTML]="basket.status | status | safeHTML">
				</div>
			</div>
		</div>
		
		<div class="add-section">
			<div class="main-info">
				<div class="info-item info-date">
					<div class="title">
						Дата создания:
					</div>
					<div class="content">
						{{basket.date | date: 'dd MMMM, yyyy'  : null : defLang}}
						-
						{{basket.date | date: 'hh:mm'  : null : defLang}}
					</div>
				</div>
				<div class="info-item info-name">
					<div class="title">
						Имя:
					</div>
					<div class="content">
						{{basket.createdBy.name}}
					</div>
				</div>
				<div class="info-item info-address">
					<div class="title">
						Адресс доставки:
					</div>
					<div class="content">
						{{basket.createdBy.address}}
					</div>
				</div>
			</div>
			<div class="product-box">
				<div class="product-item">
					<div class="name h">
						Продукт
					</div>
					<div class="count h">
						Количество
					</div>
					<div class="price h">
						Цена
					</div>
				</div>
				<div class="product-item" *ngFor="let item of basket.products">
					<div class="name">
						{{item.orderOwner.name}}
					</div>
					<div class="count">
						<ng-template #count>{{item.count}}</ng-template>
						<input type="text" [(ngModel)]="item.count" *ngIf="editBasket; else count"> шт.
					</div>
					<div class="price">
						{{item.price}} Грн.
					</div>
				</div>
			</div>
			
			<div class="group-buttons">
				<div class="left">
					Всего
					<div class="total-price">
						{{basket.totalPrice}}
					</div>
					Грн.
				</div>
				<div class="right">
					<ng-container *ngIf="!editBasket">
						<button class="main-button back" [routerLink]="'/orders'">Назад</button>
						<button class="main-button remove" *ngIf="basket.status === 1" (click)="cancel()">Отменить</button>
						<button class="main-button edit" *ngIf="basket.status === 1" (click)="edit()">Редактировать</button>
						<button class="main-button-color" *ngIf="basket.status === 1" (click)="takeOrder()">Взять заказ</button>
						<button class="main-button-color" *ngIf="basket.status === 2 || basket.status === 3" (click)="done()">Готово</button>
					</ng-container>
					<ng-container *ngIf="editBasket">
						<button class="main-button-color" (click)="saveChanges()">Сохранить изменения</button>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
