<div class="other-header">
  <app-back-btn></app-back-btn>
  <h2>
    {{ "Заказы" | trans:language }}
  </h2>
  <app-basket-item></app-basket-item>
</div>
<ng-container *ngIf="!loading">
  <app-loading></app-loading>
</ng-container>
<ng-container *ngIf="loading">
  <div class="other-pages">
    <div class="popular-section">
      <div class="popular-section-button">
        <button [class.active]="toggleMain" (click)="getBaskets()">
          В ожидании
        </button>
        <button [class.active]="!toggleMain" (click)="getSuccessBasket()">
          Доставлены
        </button>
      </div>
      <div class="popular-section-box" *ngIf="toggleMain">
        <mat-accordion>
          <app-orders-item [order]="item" (removeOrder)="removeOrder($event)" *ngFor="let item of orders"></app-orders-item>
        </mat-accordion>
      </div>
      <div class="popular-section-box" *ngIf="!toggleMain">
        <mat-accordion>
          <app-orders-item [order]="item" *ngFor="let item of orders"></app-orders-item>
        </mat-accordion>
      </div>
      <ng-container *ngIf="orders && orders.length === 0">
        <div class="empty-block">
          У вас нет активных заказов
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<!--<app-remove-orders></app-remove-orders>-->
