<div class="other-header">
  <app-back-btn></app-back-btn>
  <h2>
    {{translate.title[language]}}
  </h2>
  <app-basket-item></app-basket-item>
</div>
<ng-container *ngIf="!loading">
  <app-loading></app-loading>
</ng-container>
<ng-container *ngIf="loading && language">
  <div class="other-pages">
    <div class="popular-section">
      <div class="popular-section-button fixed">
        <button [class.active]="toggleMain" (click)="getBaskets()">
          {{translate.wait[language]}}
        </button>
        <button [class.active]="!toggleMain" (click)="getSuccessBasket()">
          {{translate.done[language]}}
        </button>
      </div>
      <div class="popular-section-box" *ngIf="toggleMain">
        <cdk-virtual-scroll-viewport itemSize="205" class="viewport" appUpdateScrollOrders (output)="getOutput($event)" [userId]="this.user._id" [type]="'new'" *ngIf="orders && orders.length > 0">
          <app-orders-item [order]="item" (removeOrder)="removeOrder($event, index)" (confirmOrder)="confirmOrder($event)" *cdkVirtualFor="let item of orders; let index = index"></app-orders-item>
        </cdk-virtual-scroll-viewport>
        <ng-container *ngIf="orders && orders.length === 0">
          <div class="empty-block">
            {{translate.empty[language]}}
          </div>
        </ng-container>
      </div>
      <div class="popular-section-box" *ngIf="!toggleMain">
        <cdk-virtual-scroll-viewport itemSize="205" class="viewport" appUpdateScrollOrders (output)="getOutput($event)" [userId]="this.user._id" [type]="'old'" *ngIf="orders && orders.length > 0">
          <app-orders-item [order]="item" *cdkVirtualFor="let item of orders"></app-orders-item>
        </cdk-virtual-scroll-viewport>
        <ng-container *ngIf="orders && orders.length === 0">
          <div class="empty-block">
            {{translate.empty_done[language]}}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

