.right-section-table {
  padding: 19px 0 !important;
}

.filter{
  width: 100%;
}
.nocategory{
  margin-bottom: 50px;
}

.example-full-width {
  width: 100%;
}
.top-btn.done {
  background-color: #FF5C00;
}
.top-btn{
  border-radius: 50%;
  padding: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background: #bdbdbd;
  color: #fff;
  font-size: 7px;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
}
.pr{
  .old{
    &.active{
      text-decoration-line: line-through;
    }
  }
  .new{
    margin-top: 5px;
    color: #FF5C00;
  }
}

.descr{
  display: flex;
  align-items: center;
  .img{
    min-width: 40px;
  }
  .name{
    margin:  0 10px 0 0px;
    text-align: center;
    min-width: 130px;
  }
  .des{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
  }
}

.table-p{
  .table-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    .row-h{
      width: 100%;
      .col{
        &:nth-of-type(1){
          max-width: 644px;
          display: inline-flex;
          width: 100%;
        }
      }
    }
    .row-r{
    }
    .row-h, .row-r{
      display: flex;
      align-items: center;
      padding: 20px 15px;
      width: 100%;
      border-bottom: 1px solid #DFE0EB;
      .col{
        display: flex;
        align-items: center;
        .date{
          display: flex;
          flex-direction: column;
        }
        &:nth-of-type(1){
          justify-content: flex-start;
          width: 100%;
          .img{
            display: inline-flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 15px;
          }
        }
        &:nth-of-type(2){
          justify-content: center;
          width: max-content;
          min-width: 70px;
          margin-left: auto;
        }
        &:nth-of-type(3){
          justify-content: center;
          width: max-content;
          min-width: 150px;
          margin-left: auto;
        }
        &:nth-of-type(4){
          justify-content: flex-end;
          min-width: 100px;
          margin-left: auto;
          .link-btn{
            margin-right: 15px;
          }
          .edit-btn{
            margin-right: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 940px) {
  .table-p{
    .table-content{
      .row-h{
        width: max-content;
      }
    }
  }

  .col-h1{
    min-width: 395px;
  }
}
