<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Создать Продукт
			</div>
		</div>
		<app-add-product *ngIf="products.length > 0" (outputNew)="newProduct($event)" [brands]="brands" (cancelAdd)="cancelAdd($event)"></app-add-product>
		<div *ngIf="products.length === 0 && categorys && categorys.length === 0" class="nocategory">
			У вас нету категорий, создайте категорию тогда вы сможете создать продукт
		</div>
	</div>
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать продукт
			</div>
		</div>
		<app-edit-product (cancelEdit)="cancelEdit($event)" [brands]="brands" (outputChanges)="outputEdit($event)" [obj]="editObj"></app-edit-product>
	</div>
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все продукты
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать продукт</span>
			</button>
		</div>
		<div class="main-section">
			<div class="loading" *ngIf="!loading">
				Loading ...
			</div>
			<ng-container *ngIf="loading">
				<div class="table" *ngIf="products && products.length > 0">
					<div class="table-content">
						<div class="row-h">
							<div class="col">
								Name
							</div>
							<div class="col">
							</div>
							<div class="col">
								Date
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row-r"  *ngFor="let item of products; let index = index">
							<div class="col">
								<div class="img">
									<app-img [fs]="item.img"></app-img>
								</div>
								{{item.name}}
							</div>
							<div class="col"></div>
							<div class="col">
								<div class="date">
									<div class="top-table-date">
										{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
									</div>
									<div class="bottom-table-date">
										{{item.date | date: 'h:mm a'  : null : defLang}}
									</div>
								</div>
							</div>
							<div class="col">
								<span class="edit-btn" (click)="edit(index)"></span>
								<span class="trash-btn" (click)="delete(index)"></span>
							</div>
						</div>
					</div>
					<mat-paginator [length]="lengthPagination"
					               [pageSize]="pageSizePagination"
					               [pageSizeOptions]="pageSizeOptionsPagination"
					               (page)="pageEvent($event)"
					               *ngIf="products && products.length > 0">
					</mat-paginator>
				</div>
				<div class="empty-section" *ngIf="!products || products.length === 0">
					<p>
						У вас нет созданых продуктов
					</p>
				</div>
			</ng-container>
		</div>
	</div>
</div>
