<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Создать Продукт
			</div>
		</div>
		<div *ngIf="categorys && categorys.length === 0" class="nocategory">
			У вас нету категорий, создайте категорию тогда вы сможете создать продукт
		</div>
		<div class="add-section" *ngIf="categorys.length > 0">
			<label>
				<input type="text" placeholder="Название продукта" [(ngModel)]="product.name">
			</label>
			<label>
				<input type="text" placeholder="Опис продукта" [(ngModel)]="product.des">
			</label>
			<label>
				<input type="text" placeholder="Ціна" [(ngModel)]="product.price">
			</label>
			<div *ngIf="categorys.length > 0">
				category
				<select [(ngModel)]="mainCategoryChoose">
					<option *ngFor="let item of categorys" [value]="item._id">{{item.name}}</option>
				</select>
			</div>
			<div  *ngIf="brands && brands.length > 0">
				brands
				<select [(ngModel)]="mainChooseBrand">
					<option *ngFor="let item of brands" [value]="item._id">{{item.name}}</option>
				</select>
			</div>
			<div class="group-buttons">
				<div class="left">
					<app-upload (onFs)="onFs($event)"></app-upload>
					<div class="mat-chip-file" *ngIf="product && product.img !== ''">
						<div class="content">{{product.img}}</div>
						<div class="remove-mat-chip" (click)="product.img = ''"></div>
					</div>
				</div>
				<div class="right">
					<button class="main-button" (click)="cancelAdd()">Отмена</button>
					<button class="main-button-color" (click)="create()">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать продукт
			</div>
		</div>
		<div class="edit-section" *ngIf="editShow">
			<label>
				<input type="text" placeholder="Название продукта" [(ngModel)]="product.name">
			</label>
			<label>
				<input type="text" placeholder="Опис продукта" [(ngModel)]="product.des">
			</label>
			<label>
				<input type="text" placeholder="Ціна" [(ngModel)]="product.price">
			</label>
			<select [(ngModel)]="mainCategoryChoose">
				<option *ngFor="let item of categorys" [value]="item._id">{{item.name}}</option>
			</select>
			<div class="group-buttons">
				<div class="left">
					<app-upload (onFs)="onFs($event)"></app-upload>
					<div class="mat-chip-file" *ngIf="editObj && editObj.img !== ''">
						<div class="content">{{editObj.img.split("--")[1]}}</div>
						<div class="remove-mat-chip" (click)="editObj.img = ''"></div>
					</div>
				</div>
				<div class="right">
					<button class="main-button" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" (click)="confirmEditCategoryCrud()">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все продукты
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать продукт</span>
			</button>
		</div>
		<div class="main-section">
			<div class="mat-elevation-z8">
				<mat-form-field class="filter" *ngIf="showPagin">
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
				
				<table mat-table [dataSource]="dataSource" *ngIf="categorys && categorys.length > 0">
					<!-- Position Column -->
					<ng-container matColumnDef="Номер">
						<th mat-header-cell *matHeaderCellDef>#</th>
						<td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
					</ng-container>
					
					<!-- Name Column -->
					<ng-container matColumnDef="Назва бренда">
						<th mat-header-cell *matHeaderCellDef>Назва категорий</th>
						<td class="table__name" mat-cell *matCellDef="let element">
							<div class="table__name-name">
								<a [routerLink]="'/category-detail/'+ element._id">
									{{element.name}}
								</a>
							</div>
						</td>
					</ng-container>
					
					<!-- Weight Column -->
					<ng-container matColumnDef="data">
						<th mat-header-cell *matHeaderCellDef>Дата</th>
						<td mat-cell *matCellDef="let element">
							<div class="top-table-date">
								{{element.date | date: 'dd MMMM, yyyy'  : null : defLang}}
							</div>
							<div class="bottom-table-date">
								{{element.date | date: 'h:mm a'  : null : defLang}}
							</div>
						</td>
					</ng-container>
					
					<ng-container matColumnDef="delete">
						<th mat-header-cell *matHeaderCellDef></th>
						<td class="right-section-table" mat-cell *matCellDef="let element; let index = index">
<!--							<span class="edit-btn" (click)="edit(index)"></span>-->
<!--							<span class="trash-btn" (click)="delete(index)"></span>-->
						</td>
					</ng-container>
					
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				
				<mat-paginator class="paginator-table" [pageSizeOptions]="[5, 10, 20]" [class.paginator-table-active]="showPagin"></mat-paginator>
			</div>
			<div class="empty-section" *ngIf="!categorys || categorys.length === 0">
				<p>
					У вас нет созданых продуктов
				</p>
			</div>
		</div>
	</div>
</div>
