<div class="other-header profile-header">
  <div class="img">
    <img src="./assets/images/user.svg" alt="">
  </div>
  <div class="info" *ngIf="login">
    <div class="name">
      Кравчук Андрей
    </div>
    <div class="tel">
      +38 (066) 666 6666
    </div>
  </div>
</div>

<div class="other-pages profile-block">
  <div class="profile-linki">
    <a routerLink="/{{language}}/my-info" *ngIf="login">
      Мои даные
    </a>
<!--    <a routerLink="/{{language}}/my-bonuses" *ngIf="login">-->
<!--      Бонусы-->
<!--    </a>-->
    <a routerLink="/{{language}}/my-address" *ngIf="login">
      Адреса доставки
    </a>
<!--    <a routerLink="/{{language}}/info-service">-->
<!--      Информация о сервисе-->
<!--    </a>-->
<!--    <a routerLink="/{{language}}/support">-->
<!--      Техническая поддержка-->
<!--    </a>-->
    <a class="logout" *ngIf="login">
      Выйти
    </a>
    <a routerLink="/{{language}}/signin" *ngIf="!login">
      Вход
    </a>
  </div>
</div>
