<div class="other-header profile-header" *ngIf="login && me">
  <div class="img">
    <app-img [fs]="me.img" [dir]="'avatar'" [anyFs]="'assets/images/user.svg'"></app-img>
  </div>
  <div class="info">
    <div class="info-left">
      <div class="name">
        {{me.name}}
      </div>
      <div class="tel">
        {{me.mobile}}
      </div>
    </div>
    <div class="info-right">
      <div class="language" routerLink="/{{language === 'ua' ? 'ru' : 'ua'}}/{{url}}" (click)="setLang(language === 'ua' ? 'ru' : 'ua')" >
        <div class="title">
          {{language === 'ua' ? 'ru' : 'ua'}}
        </div>
        <img *ngIf="language === 'ru'" src="./assets/images/ua.svg" alt="ua">
        <img *ngIf="language === 'ua'" src="./assets/images/ru.svg" alt="ru">
      </div>
    </div>
  </div>
</div>

<div class="other-pages profile-block" *ngIf="language">
  <div class="profile-linki">
    <a routerLink="/{{language}}/my-info" *ngIf="login">
      {{data.mydata[language]}}
    </a>
<!--    <a routerLink="/{{language}}/my-bonuses" *ngIf="login">-->
<!--      Бонусы-->
<!--    </a>-->
    <a routerLink="/{{language}}/my-address" *ngIf="login">
      {{data.address[language]}}
    </a>
<!--    <a routerLink="/{{language}}/info-service">-->
<!--      Информация о сервисе-->
<!--    </a>-->
<!--    <a routerLink="/{{language}}/support">-->
<!--      Техническая поддержка-->
<!--    </a>-->
    <button class="logout" *ngIf="login" (click)="logut()">
      {{data.exit[language]}}
    </button>
    <a routerLink="/{{language}}/signin" *ngIf="!login">
      {{data.enter[language]}}
    </a>
  </div>
</div>
