<div class="other-header profile-header">
  <div class="img">
    <img src="./assets/images/user.svg" alt="">
  </div>
  <div class="info">
    <div class="name">
      Кравчук Андрей
    </div>
    <div class="tel">
      +38 (066) 666 6666
    </div>
  </div>
</div>

<div class="other-pages profile-block">
  <div class="profile-linki">
    <a routerLink="/{{language}}/my-info">
      Мои даные
    </a>
    <a routerLink="/{{language}}/my-bonuses">
      Бонусы
    </a>
    <a routerLink="/{{language}}/my-address">
      Адреса доставки
    </a>
    <a routerLink="/{{language}}/info-service">
      Инфо сервис
    </a>
    <a routerLink="/{{language}}/support">
      Техническая поддержка
    </a>
    <a class="logout">
      Выйти
    </a>
  </div>
</div>
