<div class="confirm-order">
  <div class="other-header">
    <a (click)="closeConfirm.emit(false)" class="back">
      <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.646446 3.64645C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.97631 4.7308 0.659727 4.53553 0.464465C4.34027 0.269203 4.02369 0.269203 3.82843 0.464465L0.646446 3.64645ZM18 3.5L1 3.5L1 4.5L18 4.5L18 3.5Z" fill="white"/>
      </svg>
    </a>
    <h2>Оформление заказа</h2>
    <app-basket-item></app-basket-item>
  </div>
  <div class="other-pages">
    <div class="first-confirm">
      <div class="header-confirm">
        <div class="number">1.</div>
        <div class="title">
          Адресс доставки
        </div>
      </div>
      <div class="confirm-address" *ngIf="obj.address">
        <div class="address-header">
          <div class="img">
            <app-img [fs]="obj.address.img" [dir]="'address'" [anyFs]="'assets/images/provider.svg'"></app-img>
          </div>
          <div class="title-provider">
            {{obj.address.name}}
          </div>
        </div>
          <div class="block-info">
            <div class="address-item">
              <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.0692 4.38281C5.6597 4.38281 4.51245 5.53006 4.51245 6.93956C4.51245 8.34906 5.6597 9.49631 7.0692 9.49631C8.4787 9.49631 9.62595 8.34906 9.62595 6.93956C9.62595 5.53006 8.4787 4.38281 7.0692 4.38281ZM7.0692 8.76581C6.06221 8.76581 5.24295 7.94656 5.24295 6.93956C5.24295 5.93257 6.06221 5.11331 7.0692 5.11331C8.0762 5.11331 8.89545 5.93257 8.89545 6.93956C8.89545 7.94656 8.0762 8.76581 7.0692 8.76581Z" fill="black"/>
                <path d="M11.9574 2.05161C10.6344 0.728674 8.87537 0 7.00456 0C5.13339 0 3.37471 0.728674 2.05177 2.05161C-0.396498 4.49952 -0.700751 9.10532 1.39286 11.8958L7.00456 20L12.6079 11.9072C14.7099 9.10532 14.4056 4.49952 11.9574 2.05161ZM12.0154 11.4802L7.00456 18.7165L1.98566 11.4689C0.086728 8.93694 0.358839 4.77747 2.5686 2.56807C3.75347 1.3832 5.3288 0.7305 7.00456 0.7305C8.68033 0.7305 10.2557 1.3832 11.4409 2.56807C13.6507 4.77747 13.9228 8.93694 12.0154 11.4802Z" fill="black"/>
              </svg>
              {{obj.address.city.name}}
            </div>
            <div class="address-item">
              Дом {{obj.address.build}}
            </div>
            <div class="address-item">
              ул. {{obj.address.street}}
            </div>
            <div class="address-item">
              Квартира {{obj.address.department}}
            </div>
          </div>
          <div class="comment">
            {{obj.address.comment}}
          </div>
        </div>
      <div class="another-address" (click)="changeCity = true">
        {{obj.address ? 'Выбрать другой адрес' : 'Выбрать адрес'}}
      </div>
    </div>
    <div class="second-confirm">
      <div class="header-confirm">
        <div class="number">
          2.
        </div>
        <div class="title">
          Способ оплати
        </div>
      </div>
      <div class="second-box">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="obj.payMethod">
          <mat-radio-button [value]="1">наличными</mat-radio-button>
          <mat-radio-button [value]="2">отсрочка</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="buttons">
      <button class="main-button color" (click)="confirm()" [disabled]="blockBTN">Оформить</button>
      <button class="back-btn" (click)="closeConfirm.emit(false)">Назад</button>
    </div>
  </div>
</div>

<app-confirm-address *ngIf="changeCity" (cancelConfirmAddress)="cancelConfirmAddress($event)" (outputConfirmAddress)="outputAddress($event)"></app-confirm-address>
