<div class="other-header">
  <app-back-btn></app-back-btn>
  <h2>
    {{"Акция" | trans:language }}
  </h2>
  <app-basket-item></app-basket-item>
</div>

<div class="other-pages" *ngIf="action">
  <app-action-item [obj]="action"></app-action-item>

  <div class="buttons">
    <a routerLink="/{{language}}/product/{{action.orderOwner}}" class="main-button color" *ngIf="action.orderOwner">
      Перейти к продукту
    </a>
    <a (click)="back()" class="back-btn">
      Назад
    </a>
  </div>
</div>
