<div class="contain">
	<div class="contain__group">
		<div class="add-section">
			<mat-tab-group (selectedIndexChange)="selectChange($event)" [animationDuration]="0">
				<mat-tab label="Новые заказы">
					<ng-template matTabContent class="mat-template">
						<div class="loading" *ngIf="!loading">
							loading...1
						</div>
						<div class="content" *ngIf="loading">
							<div class="table-f" *ngIf="orders && orders.length > 0">
								<div class="row-f">
									<div class="name col-f">
										Имя
									</div>
									<div class="address col-f">
										Адрес доставки
									</div>
									<div class="price col-f">
										Цена
									</div>
									<div class="date col-f">
										Дата создания
									</div>
									<div class="buttons col-f">
									
									</div>
								</div>
								<div class="row-f" [routerLink]="'/orders-detail/' + item._id" *ngFor="let item of orders; let i = index">
									<div class="name col-f" [matTooltip]="item.deliveryAddress.name">
										<div class="img">
											<img src="./assets/images/user.svg" alt="">
										</div>
									</div>
									<div class="address col-f">
										{{item.deliveryAddress.city.name}},
										ул. {{item.deliveryAddress.street}}
										Дом {{item.deliveryAddress.build}}
										Квартира {{item.deliveryAddress.department}}
									</div>
									<div class="price col-f">
										{{item.totalPrice}} Грн.
									</div>
									<div class="date col-f">
										<div class="date">
											<div class="top-table-date">
												{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
											</div>
											<div class="bottom-table-date">
												{{item.date | date: 'h:mm a'  : null : defLang}}
											</div>
										</div>
									</div>
									<div class="buttons col-f">
										<button class="main-button-color" (click)="takeOrder($event, i)" *ngIf="item.status === 1">
											Взять заказ
										</button>
										<div class="who-doing" *ngIf="item.status !== 1">
											<div class="status" [innerHTML]="item.status | status | safeHTML">
											</div>
											<div class="name" *ngIf="item.manager && item.manager.name">
												{{item.manager.name}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="no-content" *ngIf="orders && orders.length === 0">
								У вас нет новых заказов
							</div>
						</div>
					</ng-template>
				</mat-tab>
				<mat-tab label="В процесе">
					<ng-template matTabContent>
						<div class="loading" *ngIf="!loading">
							loading...2
						</div>
						<div class="content" *ngIf="loading">
							<div class="table-f" *ngIf="orders && orders.length > 0">
								<div class="row-f">
									<div class="name col-f">
										Имя
									</div>
									<div class="address col-f">
										Адрес доставки
									</div>
									<div class="price col-f">
										Цена
									</div>
									<div class="date col-f">
										Дата создания
									</div>
									<div class="buttons col-f">
									
									</div>
								</div>
								<div class="row-f" [routerLink]="'/orders-detail/' + item._id" *ngFor="let item of orders; let i = index">
									<div class="name col-f" [matTooltip]="item.deliveryAddress.name">
										<div class="img">
											<img src="./assets/images/user.svg" alt="">
										</div>
									</div>
									<div class="address col-f">
										{{item.deliveryAddress.city.name}},
										ул. {{item.deliveryAddress.street}}
										Дом {{item.deliveryAddress.build}}
										Квартира {{item.deliveryAddress.department}}
									</div>
									<div class="price col-f">
										{{item.totalPrice}} Грн.
									</div>
									<div class="date col-f">
										<div class="date">
											<div class="top-table-date">
												{{item.date | date: 'dd MMMM, yyyy' : null : defLang}}
											</div>
											<div class="bottom-table-date">
												{{item.date | date: 'h:mm a' : null : defLang}}
											</div>
										</div>
									</div>
									<div class="buttons col-f">
										<div class="who-doing">
											<div class="status" [innerHTML]="item.status | status | safeHTML"></div>
											<div class="name" *ngIf="item.manager && item.manager.name">
												{{item.manager.name}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="no-content" *ngIf="orders && orders.length === 0">
								У вас нет активных заказов
							</div>
						</div>
					</ng-template>
				</mat-tab>
				<mat-tab label="История">
					<ng-template matTabContent>
						<div class="loading" *ngIf="!loading">
							loading...3
						</div>
						<div class="content" *ngIf="loading">
							<div class="table-f" *ngIf="orders && orders.length > 0">
								<div class="row-f">
									<div class="name col-f">
										Имя
									</div>
									<div class="address col-f">
										Адрес доставки
									</div>
									<div class="price col-f">
										Цена
									</div>
									<div class="date col-f">
										Дата создания
									</div>
									<div class="buttons col-f">
									</div>
								</div>
								<div class="row-f" [routerLink]="'/orders-detail/' + item._id" *ngFor="let item of orders; let i = index">
									<div class="name col-f" [matTooltip]="item.deliveryAddress.name">
										<div class="img">
											<img src="./assets/images/user.svg" alt="">
										</div>
									</div>
									<div class="address col-f">
										{{item.deliveryAddress.city.name}},
										ул. {{item.deliveryAddress.street}}
										Дом {{item.deliveryAddress.build}}
										Квартира {{item.deliveryAddress.department}}
									</div>
									<div class="price col-f">
										{{item.totalPrice}} Грн.
									</div>
									<div class="date col-f">
										<div class="date">
											<div class="top-table-date">
												{{item.date | date: 'dd MMMM, yyyy' : null : defLang}}
											</div>
											<div class="bottom-table-date">
												{{item.date | date: 'h:mm a' : null : defLang}}
											</div>
										</div>
									</div>
									<div class="buttons col-f">
										<div class="who-doing">
											<div class="status" [innerHTML]="item.status | status | safeHTML"></div>
											<div class="name" *ngIf="item.manager && item.manager.name">
												{{item.manager.name}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="no-content" *ngIf="orders && orders.length === 0">
							У вас нет истории заказов
						</div>
					</ng-template>
				</mat-tab>
				<mat-tab label="Мои заказы">
					<ng-template matTabContent>
						<div class="loading" *ngIf="!loading">
							loading...4
						</div>
						<div class="content" *ngIf="loading">
							<div class="table-f" *ngIf="orders && orders.length > 0">
								<div class="row-f">
									<div class="name col-f">
										Имя
									</div>
									<div class="address col-f">
										Адрес доставки
									</div>
									<div class="price col-f">
										Цена
									</div>
									<div class="date col-f">
										Дата создания
									</div>
									<div class="buttons col-f">
									</div>
								</div>
								<div class="row-f" [routerLink]="'/orders-detail/' + item._id" *ngFor="let item of orders; let i = index">
									<div class="name col-f" [matTooltip]="item.deliveryAddress.name">
										<div class="img">
											<img src="./assets/images/user.svg" alt="">
										</div>
									</div>
									<div class="address col-f">
										{{item.deliveryAddress.city.name}},
										ул. {{item.deliveryAddress.street}}
										Дом {{item.deliveryAddress.build}}
										Квартира {{item.deliveryAddress.department}}
									</div>
									<div class="price col-f">
										{{item.totalPrice}} Грн.
									</div>
									<div class="date col-f">
										<div class="date">
											<div class="top-table-date">
												{{item.date | date: 'dd MMMM, yyyy' : null : defLang}}
											</div>
											<div class="bottom-table-date">
												{{item.date | date: 'h:mm a' : null : defLang}}
											</div>
										</div>
									</div>
									<div class="buttons col-f">
										<div class="who-doing">
											<div class="status" [innerHTML]="item.status | status | safeHTML"></div>
											<div class="name" *ngIf="item.manager && item.manager.name">
												{{item.manager.name}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="no-content" *ngIf="orders && orders.length === 0">
							У вас нет активных заказов
						</div>
					</ng-template>
				</mat-tab>
			</mat-tab-group>
			<mat-paginator [length]="lengthPagination"
			               [pageSize]="pageSizePagination"
			               [pageSizeOptions]="pageSizeOptionsPagination"
			               (page)="pageEvent($event)"
			               *ngIf="loading && orders && orders.length > 0">
			</mat-paginator>
		</div>
	</div>
</div>

