<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Создать категорию
			</div>
		</div>
		<div class="add-section">
			<label>
				<input type="text" placeholder="Категория" [(ngModel)]="category.name">
			</label>
			<div class="group-buttons">
				<div class="left">
          <app-upload (onFs)="onFs($event)" [multiple]="false"></app-upload>
          <div class="mat-chip-file" *ngIf="category && category.img !== ''">
            <div class="content">{{category.img}}</div>
            <div class="remove-mat-chip" (click)="category.img = ''"></div>
          </div>
				</div>
				<div class="right">
					<button class="main-button" (click)="cancelAdd()">Отмена</button>
					<button class="main-button-color" (click)="create()">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать категорию
			</div>
		</div>
		<div class="edit-section" *ngIf="editShow">
			<label>
				<input type="text" placeholder="Категория" [(ngModel)]="editObj.name">
			</label>
			<div class="group-buttons">
				<div class="left">
          <app-upload (onFs)="onFs($event)" [multiple]="false"></app-upload>
          <div class="mat-chip-file" *ngIf="category && category.img !== ''">
            <div class="content">{{category.img}}</div>
            <div class="remove-mat-chip" (click)="category.img = ''"></div>
          </div>
				</div>
				<div class="right">
					<button class="main-button" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" (click)="confirmEdit(editObj._id)">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все категории
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать категорию</span>
			</button>
		</div>
		<div class="main-section">
			<ng-container class="loading" *ngIf="!loading">
				Loading...
			</ng-container>
			<ng-container *ngIf="loading">
				<div class="main-section">
					<div class="table" *ngIf="categorys && categorys.length > 0">
						<div class="table-content">
							<div class="row-h">
								<div class="col">
									Name
								</div>
								<div class="col">
								</div>
								<div class="col">
									Date
								</div>
								<div class="col">
								</div>
							</div>
							<div class="row-r" *ngFor="let item of categorys; let index = index">
								<div class="col">
									{{item.name}}
								</div>
								<div class="col"></div>
								<div class="col">
									<div class="date">
										<div class="top-table-date">
											{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
										</div>
										<div class="bottom-table-date">
											{{item.date | date: 'h:mm a'  : null : defLang}}
										</div>
									</div>
								</div>
								<div class="col">
									<span class="edit-btn" (click)="edit(index)"></span>
									<span class="trash-btn" (click)="delete(index)"></span>
								</div>
							</div>
						</div>
						<mat-paginator [length]="lengthPagination"
						               [pageSize]="pageSizePagination"
						               [pageSizeOptions]="pageSizeOptionsPagination"
						               (page)="pageEvent($event)"
						               *ngIf="categorys && categorys.length > 0">
						</mat-paginator>
					</div>
					<div class="empty-section" *ngIf="!categorys || categorys.length === 0">
						<p>
							У вас нет созданых категорий
						</p>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
