<div class="contain">
	<div class="contain__group"  *ngIf="addShow">
		<div class="contain__group-header">
			<div class="title">
				Акция
			</div>
		</div>
		<div class="no-content" *ngIf="products && products.length === 0">
			<p>
				У вас нет продуктов, соответсвено вы не можете создать акцию
			</p>
			<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
		</div>
		<form class="add-section" (submit)="create($event)" *ngIf="products && products.length > 0">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Описание акции" name="name" [(ngModel)]="action.description" autocomplete="off">
			</mat-form-field>
			<select [(ngModel)]="productChoose" name="choose">
				<option *ngFor="let item of products" [value]="item._id">{{item.name}}</option>
			</select>
			<div class="block-check">
				<mat-checkbox class="check-item" [(ngModel)]="globalAction" name="global" (change)="changeTypeActionGlobal()">Глобальная акция</mat-checkbox>
				<mat-checkbox class="check-item" [(ngModel)]="userAction" name="user" (change)="changeTypeActionUser()">Для клиента</mat-checkbox>
			</div>
			<div class="chips-box" *ngIf="userChoose && userChoose.length > 0">
				<mat-chip-list aria-label="Fish selection">
					<mat-chip class="chip-item" *ngFor="let item of userChoose; let index = index">
						{{item.login}}
						<div class="remove" (click)="removeUserChip(index)">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="15" height="15" fill="#c1c1c1">
								<path d="M 6.496094 1 C 5.675781 1 5 1.675781 5 2.496094 L 5 3 L 2 3 L 2 4 L 3 4 L 3 12.5 C 3 13.328125 3.671875 14 4.5 14 L 10.5 14 C 11.328125 14 12 13.328125 12 12.5 L 12 4 L 13 4 L 13 3 L 10 3 L 10 2.496094 C 10 1.675781 9.324219 1 8.503906 1 Z M 6.496094 2 L 8.503906 2 C 8.785156 2 9 2.214844 9 2.496094 L 9 3 L 6 3 L 6 2.496094 C 6 2.214844 6.214844 2 6.496094 2 Z M 5 5 L 6 5 L 6 12 L 5 12 Z M 7 5 L 8 5 L 8 12 L 7 12 Z M 9 5 L 10 5 L 10 12 L 9 12 Z"/>
							</svg>
						</div>
					</mat-chip>
				</mat-chip-list>
			</div>
			<mat-form-field class="example-full-width" *ngIf="userAction">
				<input type="text" placeholder="Tel" aria-label="Number" name="inputSearch" matInput [(ngModel)]="inputChange" [matAutocomplete]="auto" (keyup)="change()">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let item of searchUser" [value]="item.login" (click)="pushUser(item)">
						<div class="option">
							<div class="img">
								<app-img [fs]="item.img" *ngIf="item.img !== ''; else usersvg"></app-img>
								<ng-template #usersvg>
									<img src="./assets/images/user.svg" alt="user-svg">
								</ng-template>
							</div>
							{{item.login}}
						</div>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<div class="group-buttons">
				<div class="left">
					<app-upload (onFs)="onFs($event)"></app-upload>
					<div class="mat-chip-file" *ngIf="action && action.img !== ''">
						<div class="content">{{action.img}}</div>
						<div class="remove-mat-chip" (click)="action.img = ''"></div>
					</div>
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelAdd()">Отмена</button>
					<button class="main-button-color" type="submit">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="contain__group"  *ngIf="editShow">
		<div class="contain__group-header">
			<div class="title">
				Редактировать продукт
			</div>
		</div>
		<form (keyup)="formCheck()" (submit)="confirmEditCategoryCrud($event)" class="edit-section" *ngIf="editShow">
			<mat-form-field class="example-full-width">
				<input matInput type="text" placeholder="Описание акции" name="name" [(ngModel)]="editObj.description" autocomplete="off">
			</mat-form-field>
			<select [(ngModel)]="productChoose" (change)="selectValid()" name="choose">
				<option *ngFor="let item of products" [value]="item._id">{{item.name}}</option>
			</select>
			<div class="chips-box" *ngIf="editObj && editObj.client.length > 0">
				<mat-chip-list aria-label="Fish selection">
					<mat-chip class="chip-item" *ngFor="let item of userChoose; let index = index">
						{{item.login}}
					</mat-chip>
				</mat-chip-list>
			</div>
			<div class="group-buttons">
				<div class="left">
					<app-upload (onFs)="onFsEdit($event)" *ngIf="editObj && editObj.img === ''"></app-upload>
					<div class="mat-chip-file" *ngIf="editObj && editObj.img !== ''">
						<div class="content">{{editObj.img.split("--")[1]}}</div>
						<div class="remove-mat-chip" (click)="editObj.img = ''; formCheck()"></div>
					</div>
				</div>
				<div class="right">
					<button class="main-button" type="reset" (click)="cancelEdit()">Отмена</button>
					<button class="main-button-color" type="submit"  *ngIf="isBlok">Сохранить</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="contain__group">
		<div class="contain__group-header">
			<div class="title">
				Все акции
			</div>
			<button class="button-add" (click)="openAdd()">
				<span class="content">Создать акцию</span>
			</button>
		</div>
		<ng-container class="loading" *ngIf="!loading">
			Loading...
		</ng-container>
		<ng-container *ngIf="loading">
			<div class="main-section">
				<div class="table" *ngIf="actions || actions.length > 0">
					<div class="table-content">
						<div class="row-h">
							<div class="col">
								Name
							</div>
							<div class="col">
							</div>
							<div class="col">
								Date
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row-r" *ngFor="let item of actions; let index = index">
							<div class="col">
								{{item.description}}
							</div>
							<div class="col">
							</div>
							<div class="col">
								<div class="date">
									<div class="top-table-date">
										{{item.date | date: 'dd MMMM, yyyy'  : null : defLang}}
									</div>
									<div class="bottom-table-date">
										{{item.date | date: 'h:mm a'  : null : defLang}}
									</div>
								</div>
							</div>
							<div class="col">
								<span class="edit-btn" (click)="edit(index)"></span>
								<span class="trash-btn" (click)="delete(index)"></span>
							</div>
						</div>
					</div>
					<mat-paginator [length]="lengthPagination"
					               [pageSize]="pageSizePagination"
					               [pageSizeOptions]="pageSizeOptionsPagination"
					               (page)="pageEvent($event)"
									*ngIf="actions && actions.length > 0">
					</mat-paginator>
				</div>
				<div class="empty-section" *ngIf="!actions || actions.length === 0">
					<p>
						У вас нет созданых акций
					</p>
				</div>
			</div>
		</ng-container>
	</div>

</div>
