<div class="other-header">
  <a routerLink="/{{language}}" class="back">
    <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.646446 3.64645C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.97631 4.7308 0.659727 4.53553 0.464465C4.34027 0.269203 4.02369 0.269203 3.82843 0.464465L0.646446 3.64645ZM18 3.5L1 3.5L1 4.5L18 4.5L18 3.5Z" fill="white"/>
    </svg>
  </a>
  <h2>Адрес доставки</h2>
</div>

<form (submit)="save($event)" class="other-pages">
  <p>
    Без адреса Вы не сможете оформить заказ!
  </p>
  <div class="form">
    <input type="text" placeholder="Название торговой точки" name="name" [(ngModel)]="address.name">
    <div class="city-block">
      <mat-form-field *ngIf="cities" >
        <mat-label>Город</mat-label>
        <mat-select [(value)]="address.city" (selectionChange)="select($event)">
          <mat-option *ngFor="let city of cities" [value]="city._id">
            {{city.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <input type="text" placeholder="Улица" name="street" [(ngModel)]="address.street">
    <div class="home">
      <input type="text" placeholder="Дом" name="build" [(ngModel)]="address.build">
      <input type="text" placeholder="Квартира" name="department" [(ngModel)]="address.department">
    </div>
    <input type="text" placeholder="Дополнительно" name="comment" [(ngModel)]="address.comment">
    <div class="photo-upload">
      <div class="img">
        <app-img [dir]="'address'" [fs]="address.img" [anyFs]="''"></app-img>
      </div>
      <app-upload (onCrop)="onFs($event)" [cropper]="true" [dir]="'address'"></app-upload>
    </div>
  </div>
  <button class="main-button color" type="submit">
    Создать
  </button>
  <a routerLink="/{{language}}/my-address" class="back-btn">Назад</a>
</form>
