.work-time{
  margin-top: 20px;
  &-header{
    color: #748AA1;
    padding: 20px 0;
  }
  &-box{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    .work-time-item{
      display: flex;
      align-items: center;
      width: 50%;
      padding: 10px 0;
      color: #748AA1;
      min-width: 375px;
      max-width: 500px;
      .day{
        width: 150px;
      }
      .group{
        padding: 0 10px;
        input{
          width: 60px;
          text-align: center;
          margin: 0 10px;
          color: #748AA1;
        }
      }
    }
  }
}

@media (max-width: 954px) {
  .work-time{
    &-header{
    }
    &-box{
      .work-time-item{
       &:nth-of-type(1){
         order: 0;
       }
       &:nth-of-type(2){
         order: 5;
       }
       &:nth-of-type(3){
         order: 1;
       }
       &:nth-of-type(4){
         order: 6;
       }
       &:nth-of-type(5){
         order: 2;
       }
       &:nth-of-type(6){
         order: 7;
       }
       &:nth-of-type(7){
         order: 3;
       }
       &:nth-of-type(8){
         order: 8;
       }
      }
    }
  }
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #009688 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #DFE0EB !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #009688 !important;;
}
