.index-all{
  display: block;
  background: #09C2C2;
  color: #fff;
  width: max-content;
  margin: 15px auto 35px;
  padding: 7px 15px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-radius: 15px;
  cursor: pointer;
}

::ng-deep .carousel-slide{
  padding-bottom: 52%!important;
  border-radius: 15px!important;
}
.title-preload {
  background: #e3ecec;
  width: 44px;
  height: 13px;
  border-radius: 3px;
}
.icon-preload{
  background: #e3ecec;
}
