<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.20b0b1fc99db23637fe9.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.0c5226cce70e491b47d0.js" defer></script><script src="polyfills-es5.3af7e4cd44054b58484f.js" nomodule defer></script><script src="polyfills.5b6eaace2955535aac2e.js" defer></script><script src="main.a0be16576bcc183a27df.js" defer></script></body>
</html>
