<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DeliveryV4</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.9298a5e70b10311eeb8d.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.8fbc2fd6f12647d93e24.js" defer></script><script src="polyfills-es5.7716d8dd642a0d9864f9.js" nomodule defer></script><script src="polyfills.ffc476ee7df9c02b7945.js" defer></script><script src="main.9db52783bb39269eb78d.js" defer></script></body>
</html>
