<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Поставщик</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.b328e6d595f96a216ec8.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.0c5226cce70e491b47d0.js" defer></script><script src="polyfills-es5.3af7e4cd44054b58484f.js" nomodule defer></script><script src="polyfills.5b6eaace2955535aac2e.js" defer></script><script src="main.4b0508553211cda07d2c.js" defer></script></body>
</html>
